---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
  item: CollectionEntry<'buildings'>;
}

const { item } = Astro.props;

const formatCordoarias = (c) => {
  return `X: ${c.x} Y: ${c.y} Z: ${c.z}`
}

const relatedWorld = await getEntry(item.data.world)

---

<div class="card-news">
  <div class="card-news__content">
    <div class="card-news__title" set:text={item.data.title}/>
    <div class="card-news__caption" set:text={item.data.caption}/>
    <div class="card-news__meta">
      <a href={`/worlds/${relatedWorld.slug}`} set:text={relatedWorld.data.title} />
      <span set:text={formatCordoarias(item.data.cordoarias)} />
      { item.body &&
        <a class="card-news__open" href={`/buildings/${item.slug}`}>Читать далее</a>
      }
    </div>
  </div>
</div>

<script>

</script>

<style lang="scss">

.card-news {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-word;
    color: #d5d5d5;
    font-size: 1.3rem;
    line-height: calc(1.4 * 1em);
    margin-bottom: .25rem;
  }

  &__caption {
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-word;
    color: #aaa;
    font-size: 1.2rem;
    line-height: calc(1.4 * 1em);
    margin-bottom: 1rem;
  }

  &__meta {
    color: #bababa;
    font-size: 1.2rem;
    line-height: calc(1.4 * 1em);

    a {
      color: #bababa;
      text-decoration: underline;

      @media(hover: hover) {
        &:hover {
          color: #d5d5d5;
        }
      }
    }

    * + * { margin-left: .75rem; }
  }
}
</style>
