---
import Landing from '@layouts/Landing.astro';

import Card from '@components/Card.astro';
import CardMod from '@components/CardMod.astro';
import Spacer from '@components/Spacer.astro';

const title = 'ШизаЛенд'
const description = 'Мой маненький ванильный сервер <3'
const address = 'mc.shizo-land.ru'

// 
const response = await fetch(`https://api.mcsrvstat.us/3/${address}`);
const data = await response.json();

// Plugins
import plugins from '@data/plugins.json';

---

<Landing title={title} description={description}>
	{ data.online &&
		<Card>
			<div class="server">
				<div class="server__motd" set:html={data.motd.html} />
				<div class="server__playsers">
					<span class="online" set:text={data.players.online} />
					/
					<span class="max" set:text={data.players.max} />
				</div>
			</div>
		</Card>
		<Spacer />
	}

	<Card title="Последние новости">
		Деда кусили за печеньку!
	</Card>
	
	<Spacer />

	<Card title="Рекомендуемые моды" mode="list">
		{ plugins.map(item =>
			<CardMod title={item.title} info={item.info} url={item.url} icon={item.icon} />
		)}
	</Card>

	<Spacer />

	<Card title="Fucking astro shit">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloribus, explicabo porro fugiat praesentium saepe sapiente nam labore ducimus magni dicta quibusdam voluptates esse reiciendis, non unde veritatis maiores officiis.
	</Card>

	<Spacer />

</Landing>

<style>
.server {
	font-family: 'Minecraft';

}
</style>
